:root {
    /*COLOR PALLETTE*/
    --pallet1: #e2bfac;
    --pallet2: #edebdf;
    --pallet3: #a4978e;
    --pallet4: #766e6b;
}
.container-fluid {
    background-color: var(--pallet1);
}
.navbar {
    background-color:  var(--pallet4);
    
}
.navbar-nav > li{
    padding-left:10px;
  }
.hover-effect:hover {
    background-color:  var(--pallet3);
}